<div class="wiki-footer">
    <div class="wiki-footer__top">
        <div class="wiki-footer-top__theme-button">
            <button class="wiki-footer-top-theme-button__toggle">
                <span class="material-symbols-outlined">dark_mode</span>
                Change Theme
            </button>
            <div class="wiki-footer-top-theme-button__menu">
                <div class="wiki-footer-top-theme-button-menu__items">
                    <button class="wiki-footer-top-theme-button-menu__item">
                        <span class="material-symbols-outlined">dark_mode</span>
                        <span>Dark</span>
                    </button>
                    <button class="wiki-footer-top-theme-button-menu__item">
                        <span class="material-symbols-outlined">light_mode</span>
                        <span>Light</span>
                    </button>
                </div>
            </div>                    
        </div>
        <label class="wiki-footer-top__cookie-toggle-group" for="cookie_preference">
            <div class="wiki-footer-top__toogle">
                <input class="wiki-footer-top__cookie-toggle" type="checkbox" name="cookie_preference" id="cookie_preference">
                <div class="wiki-footer-top__cookie-toggle-slider"></div>
            </div>
            <span class="wiki-footer-top__cookie-toggle-label">
                Cookie Preferences
            </span>
        </label>
    </div>
    <hr class="wiki-footer__line">
    <div class="wiki-footer__bottom">
        <div class="wiki-footer-center__copyright">&copy; Copyright&nbsp; 2024 DanJC-07&nbsp;&nbsp;&nbsp;&nbsp;All Rights Reserved</div>
        <div class="wiki-footer-center__open-source-info">The content on this page is open source <a href="#">Learn More...</a></div>
    </div>
</div>